body {
  background-color: #40bf80;
  font-family: calibri;
  color: white;
  text-align: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  border: white;
  border-style: solid;
  padding: 10px;
}

li {
  list-style: none;
}

#gameboard {
  border: white solid;
  width: 85%;
  padding: 1rem;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
}

.textCard,
.card {
  width: 200px;
  height: 200px;
  margin: 25px;
  list-style: none;
  text-align: center;
  border-radius: 4px;
  border: white;
  border-style: solid;
}

.imageCard {
  width: 190px;
  height: 190px;
  margin-top: 8px;
  margin-left: 5px;
  list-style: none;
  text-align: center;
  border-radius: 4px;
  border: white;
  border-style: solid;
}

.textCard,
.card {
  color: black;
  background-color: white;
}
